<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<meta http-equiv="Content-Security-Policy"
  content="default-src 'none';
  script-src 'self' 'unsafe-inline' https://www.googletagmanager.com;
  style-src 'self' https://fonts.googleapis.com;
  img-src 'self' https://www.googletagmanager.com;
  font-src 'self' https://fonts.gstatic.com;
  connect-src 'self' www.googletagmanager.com;
  media-src 'self';
  object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection" content="1;mode=block" always />
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin" />

{%- include head.html -%}

<body>
  {%- include background.html -%}

  <div class="container">
    {%- include header.html -%}
    <main>
      {{ content }}
    </main>
  </div>
  {%- include footer.html -%}
</body>

</html>